// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-purple {
  background-color: #510063;
  padding-top: 40px;
  padding-bottom: 40px;
}

.button {
  border-radius: 30px;
  background-color: #FF5500;
  height: 60px;
  width: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 30px;
}

.bg-purple .line {
  line-height: 3em;
}

.nobr {
  white-space: nowrap;
  display: inline-block;
}

.bg-white .para {
  margin-left: 60px;
}

.bg-white {
  margin-top: 50px;
}
