<div class="jumbotron jumbotron-fluid color-fill" >
  <div class="container">
    <h1 class="display-3 text-white font"><strong>sim-only mobile plans</strong></h1>
    <p class="lead fontlead text-white" >Get UNLIMITED 2GB for $15 on your first 6 renewals.Use code 15FOR6 at checkout until 10th Sept. New customers only. Full T&Cs.</p>
    <div class="card-deck">
      <div class="card c1">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card c1">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card c1">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card c1">
        <img class="card-img-top" src="" alt="Card image cap">
        <%#= image_tag("icon.png", size: "16x10", alt: "Edit Entry") %>
        <%= link_to "Go Home", root_path %>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="siz">
    <p><strong>this is going to be amazing</strong></p>
  <div>
</div>
