



<!-- <div class="jumbotron bg-purple">


  <div class="container bg-purple">
    <div class="row">
      <div class="col">
        <h6 class="">win a Google Home, Chromecast Ultra </h6>
        <p class="lead">and a year of nbn™</p>
        <hr class="my-4">
        <p>Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
        </p>
      </div>
      <div class="col">
        <%= image_tag("house.png", height: '241', width: '345') %>
      </div>
    </div>
</div>
</div> -->
